<footer class="met-foot-info border-top1">
  <div class="met-footnav">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-xs-6 foot-nav">
          <h4><a href="about.html" data-i18n="nav.contact">Contact</a></h4>
          <ul>
            <li><a href="about.html" data-i18n="nav.companyProfile">Company profile</a></li>
            <li><a href="patents.html" data-i18n="nav.companyPatents">Company patents</a></li>
            <li><a href="feedback.html" data-i18n="nav.feedback">feedback</a></li>
            <li><a href="contact.html" data-i18n="nav.contactLink">Contact</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-xs-6 foot-nav">
          <h4><a href="product.html" data-i18n="nav.product">Prouduct</a></h4>
          <ul>
            <li><a href="product.html" data-i18n="nav.commercialVehicle">Commercial Vehicle Series</a></li>
            <li><a href="product.html" data-i18n="nav.specialVehicle">Specail Vehicle Series</a></li>
            <li><a href="product.html" data-i18n="nav.batteryPack">Battery pack</a></li>
            <li><a href="product.html" data-i18n="nav.batteryProducts">Battery products</a></li>
            <li><a href="product.html" data-i18n="nav.chargingProducts">Charging products</a></li>
            <li><a href="product.html" data-i18n="nav.electricControl">Electric control of motor</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-xs-6 foot-nav">
          <h4><a href="news.html" data-i18n="nav.news">News</a></h4>
          <ul>
            <li><a href="news.html" data-i18n="nav.enterpriseNews">Enterprise News</a></li>
            <li><a href="news.html" data-i18n="nav.industryInfo">Industry information</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-12 col-xs-12 info">
          <p class="font-size-26" data-i18n="footer.serviceHotline">Service Hotline</p>
          <p><a href="tel:+998995304435">+998 99 530 44 35</a></p>
          <a href="assets/images/wechat.jpg" target="_blank" title="WeChat"><i class="fa fa-weixin"></i></a>
          <a href="mailto:mirzakomilalimov02@gmail.com" title="Email"><i class="fa fa-envelope"></i></a>
          <a href="https://t.me/TG_LINK" title="Telegram"><i class="fa fa-paper-plane"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="copy">
    <div class="container">
      <div data-i18n="footer.copyright">Cambell Andijan Technology Co., Ltd</div>
      <div>
        <p><strong data-i18n="meta.tagline">Committed to Society, Environment, Human Beings and Future.</strong></p>
        <p><strong data-i18n="meta.tagline2">We are going along with GREEN.</strong></p>
      </div>
      <div class="powered_by_metinfo" data-i18n="footer.powered">Powered by Cambell CMS</div>
    </div>
  </div>
</footer>
