<header class="met-head">
  <nav class="navbar met-nav">
    <div class="container">
      <div class="row">
        <div class="met-nav-btn">
          <h1 hidden data-i18n="meta.siteNameFull">Cambell Andijan Technology Co., Ltd</h1>
          <div class="navbar-header">
            <a href="index.html" class="met-logo" title="Cambell Andijan">
              <img src="assets/images/logo/pclogo.png" alt="Cambell Andijan" class="pclogo">
              <img src="assets/images/logo/mblogo.png" alt="Cambell Andijan" class="mblogo">
            </a>
          </div>
          <button type="button" class="navbar-toggler" aria-label="Toggle navigation"><span class="hamburger-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="met-nav-collapse">
          <ul class="nav navlist">
            <li class="nav-item"><a href="index.html" class="nav-link" data-nav="home" data-i18n="nav.home">Home page</a></li>
            <li class="nav-item dropdown">
              <a href="about.html" class="nav-link dropdown-toggle" data-nav="contact"><span data-i18n="nav.contact">Contact</span> <i class="fa fa-angle-down"></i></a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="about.html" class="dropdown-item" data-i18n="nav.companyProfile">Company profile</a>
                <a href="patents.html" class="dropdown-item" data-i18n="nav.companyPatents">Company patents</a>
                <a href="feedback.html" class="dropdown-item" data-i18n="nav.feedback">feedback</a>
                <a href="contact.html" class="dropdown-item" data-i18n="nav.contactLink">Contact</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="product.html" class="nav-link dropdown-toggle" data-nav="product"><span data-i18n="nav.product">Prouduct</span> <i class="fa fa-angle-down"></i></a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="product.html" class="dropdown-item" data-i18n="nav.all">全部</a>
                <div class="dropdown-submenu">
                  <a href="product.html" class="dropdown-item" data-i18n="nav.commercialVehicle">Commercial Vehicle Series</a>
                  <div class="dropdown-menu">
                    <a href="product.html" class="dropdown-item" data-i18n="nav.bus95">9.5m classic bus</a>
                    <a href="product.html" class="dropdown-item" data-i18n="nav.bus18">18m articulated vehicle</a>
                    <a href="product.html" class="dropdown-item" data-i18n="nav.roadBus">classic road bus</a>
                    <a href="product.html" class="dropdown-item" data-i18n="nav.bus85">8.5m classic bus</a>
                    <a href="product.html" class="dropdown-item" data-i18n="nav.bus105">10.5m classic bus</a>
                    <a href="product.html" class="dropdown-item" data-i18n="nav.bus12">12m classic bus</a>
                  </div>
                </div>
                <div class="dropdown-submenu">
                  <a href="product.html" class="dropdown-item" data-i18n="nav.specialVehicle">Specail Vehicle Series</a>
                  <div class="dropdown-menu"><a href="product.html" class="dropdown-item" data-i18n="nav.coaster">coaster commercial vehicle</a></div>
                </div>
                <a href="product.html" class="dropdown-item" data-i18n="nav.batteryPack">Battery pack</a>
                <a href="product.html" class="dropdown-item" data-i18n="nav.batteryProducts">Battery products</a>
                <a href="product.html" class="dropdown-item" data-i18n="nav.chargingProducts">Charging products</a>
                <a href="product.html" class="dropdown-item" data-i18n="nav.electricControl">Electric control of motor</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="news.html" class="nav-link dropdown-toggle" data-nav="news"><span data-i18n="nav.news">News</span> <i class="fa fa-angle-down"></i></a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="news.html" class="dropdown-item" data-i18n="nav.all">全部</a>
                <a href="news.html" class="dropdown-item" data-i18n="nav.enterpriseNews">Enterprise News</a>
                <a href="news.html" class="dropdown-item" data-i18n="nav.industryInfo">Industry information</a>
              </div>
            </li>
            <li class="nav-item"><a href="join.html" class="nav-link" data-nav="join" data-i18n="nav.joinUs">Join us</a></li>
          </ul>
          <div class="metlang">
            <div class="met-langlist">
              <button type="button" class="lang-btn active" data-lang="uz" aria-label="O'zbekcha"><img src="assets/images/flags/uz.svg" alt="UZ" width="20" height="14"> UZ</button>
              <button type="button" class="lang-btn" data-lang="ru" aria-label="Русский"><img src="assets/images/flags/ru.svg" alt="RU" width="20" height="14"> RU</button>
              <button type="button" class="lang-btn" data-lang="en" aria-label="English"><img src="assets/images/flags/en.svg" alt="EN" width="20" height="14"> EN</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
